<h3> Active Posts </h3>
{% for post in posts %}
    <div class="post">
        <div class="header">
            <small class="time"> {{ timestamp }} </small>
        </div>

        <div class="content">
            Post ID: {{ post["post_id"] }} 
        </div>

        <div class="footer">
            <div class="replies"> #replies {{ post["reply_cnt"] }} </div>
            <div class="comments"> #comments {{ post["comment_cnt"] }} </div>
            <div class="likes"> #likes {{ post["like_cnt"] }} </div>
            {% if post["user_cnt"] != None %}
            <div class="users"> #users {{ post["user_cnt"] }} </div>
            {% endif %}
        </div>
    </div>
{% endfor %}

{% if posts|length == 0 %}
    <div class="post">
        <div class="header">
            <small class="time"> {{ timestamp }} </small>
        </div>

        <div class="content">
            No active posts for now
        </div>

        <div class="footer">
        </div>
    </div>
{% endif %}
