<h3> Who to follow for {{ account }} </h3>
{% for user in users %}
    <div class="user">
        <div> UserID: {{ user['person_id'] }} </div>
        <br/>
        <div class="similarity"> 
            Similarity: {{ '%0.3f' % user['value'] }} 
            <ul>
                <li> Common-tag: {{ '%0.3f' % user['common_tag_index'] }} </li>
                <li> Common-friend: {{ '%0.3f' % user['common_friend_index'] }} </li>
                <li> Discussed-tags {{ '%0.3f' % user['discussed_tag_index'] }} </li>
            </ul>
        </div>
        <small> Reason: </small>
    </div>
{% endfor %}

{% if users|length==0 %}
    <div class="user">
        No active users for now
    </div>
{% endif %}
