.grid-container {
    display: grid;
    grid-template-columns: 50% 35%;
    grid-gap: 10px;
    padding: 10px;
    background-color: #e6ecf0;
}

.grid-container > div {
    background-color: white;
    min-height: 1000px;
}

.grid-container h3 {
    margin: auto;
    text-align: center;
}
