#posts .post .header small {
    color: #657786;
}

#posts .post {
    border-bottom: 1px solid #f5f5f5;
    padding: 10px;
}

#posts .post .footer {
    text-align: left;
}

#posts .post .footer div {
    padding-right: 30px;
    margin: auto;
    display: inline-block;
    color: #657786;
}
