<title> Demo </title>
<head>
    <link rel="stylesheet" href="../static/css/main.css" type="text/css" />
    <link rel="stylesheet" href="../static/css/posts.css" type="text/css" />
    <link rel="stylesheet" href="../static/css/recommendation.css" type="text/css" />
    <script type="text/javascript" src="../static/js/posts.js"></script>
    <script type="text/javascript" src="../static/js/recommendation.js"></script>
</head>

<body>
    <div class="grid-container">
        <div id="posts"> </div>
        <div id="recommendation"> </div>
    </div>
</body>
